.pp{
    color: rgba(189, 24, 24, 0.867);
}

.Input-container{
    display: flex;
    flex-direction: column;
    margin: 8px;
}
Input-container-radio{
    display: flex;
    flex-direction: row;   
}
.form-container{
    padding: 5px;
    height: 800px;
    width: 400px;
}
/* .Input-container input{
    width: 20%;
    outline: none;
} */